.frame {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1rem;
}

.btnBox {
  flex-basis: 100%;
  display: flex;
}

.btn {
  flex-basis: 70%;
  background-color: #4caf50;
  border: 1px solid #8c8c8c;
  color: white;
  font-size: 2rem;
  margin: 1rem auto;
}

@media (min-width: 550px) {
  .frame {
    align-items: stretch;
    align-content: space-around;
  }

  .btn {
    flex-basis: 50%;
    margin: 1rem auto 0;
  }
}

@media (min-width: 850px) {
  .frame {
    align-items: stretch;
    align-content: space-around;
  }

  .btn {
    flex-basis: 30%;
  }
}
